body {
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
	border: 1px solid black;
}

article {
	flex: 2;
	overflow-y: auto;
	border: 1px solid black;
}

aside {
	flex: 1;
	overflow-y: auto;
	border: 1px solid black;
}